body{
    background: url(./assets/orange.jpg);
    background-repeat: no repeat;
    background-size:cover;
 }
 
 .textright{
    text-align:left;
    position:relative;
    margin-top:140px;
    margin-left:352px;
    width:73%;
 } 
   
 header{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
 }
 
 h1{
    font-family: 'Poppins', sans-serif;
    margin:auto;
    text-align:center;
    padding-top:1.25em;
    padding-bottom:1.25em;
 }
 
 .divider{
    padding-top:50px;
 }
 
 .navbar{
    text-align:left;
    border-color:black;
    border:7px solid;
    height:425px;
    width: 300px;
    background-color: rgba(230, 12, 170, 0.6);
    margin: auto;
    position:fixed;
    top:250px;
 }
 
 .samplecode{
    border:2px solid black;
    background-color: rgba(241, 125, 209, 0.6);
    width:950px;
 }
 
 .objects{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:black;
 }
 
 .arrays{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:black;
 }
 
 .forLoops{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:black;
 }
 
 #objects{
    font-family: 'Poppins', sans-serif;
    margin-left:10px;
    margin-right: 10px;
 }
 
 #arrays{
    font-family: 'Poppins', sans-serif;
    margin-left:10px;
    margin-right: 10px;
 }
 
 #forLoops{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
 }
 
 footer{
    font-family: 'Poppins', sans-serif;
    text-align:center;
 }